.about-us {
  margin-bottom: 57px;
  padding: 0;
  padding-top: 7px;
}
@media(min-width: $tablet-width) {
  .about-us {
    margin-bottom: 30px;
    padding-top: 20px;
  }
}
@media(min-width: $desktop-width) {
  .about-us__caption {
    margin-left: 170px;
  }
}
