.benefits-list {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.benefits-list__item {
  margin-bottom: 28px;
  padding-top: 55px;
  &:last-child {
    margin-bottom: 0;
  }
}
.benefits-list__item--icon-eco {
  background: url(../img/icon-feature-flower.svg) no-repeat #ffffff 0% 0%;
}
.benefits-list__item--icon-price {
  background: url(../img/icon-feature-money.svg) no-repeat #ffffff 0% 0%;
}
.benefits-list__item--icon-like {
  background: url(../img/icon-feature-heart.svg) no-repeat #ffffff 0% 0%;
}
.benefits-list__item--icon-hand {
  background: url(../img/icon-feature-ball.svg) no-repeat #ffffff 0% 0%;
}
.benefits-list__item--icon-sup {
  background: url(../img/icon-feature-rocket.svg) no-repeat #ffffff 0% 0%;
}
.benefits-list__item--icon-pack {
  background: url(../img/icon-feature-gift.svg) no-repeat #ffffff 0% 0%;
}

@media(min-width: $tablet-width) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: 20px;
    line-height: 22px;
    margin-top: 0;
    padding-top: 41px;
    // margin-top: 110px;
  }
  .benefits-list__item {
    width: 300px;
    margin-right: 34px;
    margin-bottom: 53px;
    padding-top: 60px;
  }
  .benefits-list__item--icon-price {
    order: 2;
  }
  .benefits-list__item--icon-like {
    order: 4;
  }
  .benefits-list__item--icon-hand {
    order: 1;
  }
  .benefits-list__item--icon-sup {
    order: 3;
  }
  .benefits-list__item--icon-pack {
    order: 5;
  }
}


@media(min-width: $desktop-width) {
  .benefits-list {
    margin-left: 175px;
  }
  .benefits-list__item {
    margin-right: 50px;
  }
}
