.benefits-list {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.benefits-list__item {
  margin-bottom: 28px;
  padding-top: 55px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.benefits-list__icon {
  @include benefits-icon;
}

.benefits-list__icon--eco {
  left: 7px;
}

.benefits-list__icon--like {
  left: 7px;
  top: 5px;
}

.benefits-list__icon--hand {
  top: 3px;
  left: 3px;
}

.benefits-list__icon--sup {
  top: 4px;
  left: -3px;
  overflow-x: hidden;
}

.benefits-list__icon--pack {
  left: 3px;
}

@media (min-width: $tablet-width) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: 20px;
    line-height: 22px;
    margin-top: 0;
    padding-top: 41px;
  }

  .benefits-list__item {
    width: 300px;
    margin-right: 34px;
    margin-bottom: 53px;
    padding-top: 60px;
  }

  .benefits-list__item:nth-child(2) {
    order: 2;
  }

  .benefits-list__item:nth-child(3) {
    order: 4;
  }

  .benefits-list__item:nth-child(4) {
    order: 1;
  }

  .benefits-list__item:nth-child(5) {
    order: 3;
  }

  .benefits-list__item:nth-child(6) {
    order: 5;
  }

  .benefits-list__icon--eco {
    left: 7px;
    top: 7px;
  }

  .benefits-list__icon--price {
    top: 10px;
  }

  .benefits-list__icon--like {
    left: 7px;
    top: 10px;
  }

  .benefits-list__icon--hand {
    top: 10px;
    left: 3px;
  }

  .benefits-list__icon--sup {
    top: 10px;
    left: -5px;
  }

  .benefits-list__item--icon-pack {
    top: 10px;
    left: 3px;
  }
}

@media (min-width: $desktop-width) {
  .benefits-list {
    margin-left: 175px;
  }

  .benefits-list__item {
    margin-right: 50px;
  }
}
