.catalog {
  margin: 29px 0 32px 0;
}
@media (min-width: $tablet-width) {
  .catalog {
    margin-top: 68px;
    margin-bottom: 55px;
  }
}
@media (min-width: $desktop-width) {
  .catalog {
    margin-top: 118px;
    margin-bottom: 59px;
  }
  .catalog__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
