.contacts__caption {
  font-size: 18px;
}

.contacts__details {
  margin: 35px 0 35px 0;
}

.contacts__map {
  background: url(../img/map-mobile@1x.jpg) no-repeat #f5ead8 0% 5%;
  width: 320px;
  margin: 0 auto;
}

.contacts__contact-btn {
  width: 260px;
  margin: 0 auto;
  display: block;
}
