.contacts {
  padding: 0;
}
.contacts__caption {
  font-size: 18px;
}

.contacts__details {
  margin: 35px 0 35px 0;
}

.contacts__map {
  background: url(../img/map-mobile@1x.jpg) no-repeat #f5ead8 0% 5%;
  width: 100%;
  margin: 0 auto;
  height: 460px;
}

.contacts__contact-btn {
  width: 260px;
  display: block;
  margin: 40px auto;
}

@media (min-width: $tablet-width) {
  .contacts__map {
    width: 100%;
  }
  .contacts__caption {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 60px;
  }

  .contacts__details {
    display: flex;
  }
  .contacts__contact-btn {
    margin: 55px auto;
    width: 230px;
  }

}

@media (min-width: $desktop-width) {
  .contacts__desktop-wrapper {
    width: 1050px;
    padding: 0 50px 0 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts__wrapper {
    width: auto;
    padding: 0;
    margin: 0;
    margin-left: 175px;
    margin-top: 85px;
  }
  .contacts__caption {
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__details {
    flex-wrap: wrap;
    width: 300px;
  }
  .contacts__map {
    width: 525px;
    height: 455px;
    margin-right: 0;
  }
  .contacts__contact-btn {
    margin-left: 175px;
    position: relative;
    bottom: 105px;
    margin-bottom: 0;
  }
}
