.copyright__logo {
  margin: auto 0;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  margin-left: 35px;
  margin-right: 25px;
  padding: 0;
}

.copyright__logo-image {
  background: url(../img/logo-htmlacademy.svg) no-repeat #fafafa 50% 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .copyright__logo {
    margin: 0 25px 0 0;
  }
}
