.copyright__logo {
  margin: auto 0;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  margin-left: 35px;
  margin-right: 25px;
  padding: 0;
}

.copyright__logo-image {
  fill: $beaty-color;
  &:hover {
    fill: #46c1ae;
  }
  &:active {
    fill: #46c1ae;
    fill-opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__logo {
    margin: 0 30px 0 0;
    padding-top: 7px;
  }
}
