.form__part {
  border: none;
  padding: 0;
  margin: 0;
  // padding: 15px 0 15px 0;
  // margin-top: 25px;
}
.form__part-title {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $beaty-color;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
  &::after {
    position: absolute;
    top: 50%;
    right: 0px;
    background-color: $beaty-color;
    content: "";
    width: 199px;
    height: 1px;
    color: $beaty-color;
  }
}
.form__part-title--email {
  &::after {
    width: 179px
  }
}

.form__part-radio-label {
  @include label;
  display: block;
  margin-left: 61px;
  position: relative;
  cursor: pointer;
  margin-top: 30px;
  &:last-child {
    margin-bottom: 15px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #000000;
    left: -60px;
    top: -10px;
  }
}
.form__part-radio:checked + .form__part-radio-label:before {
  content: "";
  position: absolute;
  left: -48px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $beaty-color;
}

.form__part-radio {
  @include visuallyhidden;
}

.form__part-checkbox-label {
  @include label;
  display: block;
  margin-left: 61px;
  margin-top: 35px;
  margin-bottom: 44px;
  position: relative;
  cursor: pointer;
  &:last-child {
    margin-bottom: 16px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #000000;
    left: -60px;
    top: -10px;
  }
}
.form__part-checkbox:checked + .form__part-checkbox-label:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -45px;
  width: 8px;
  height: 20px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(45deg);
}
.form__part-checkbox {
  @include visuallyhidden;
}

.form__part-text-label {
  @include label;
  display: block;
  // margin-top: 30px;
  margin-bottom: 25px;
  &:first-child {
    margin-top: 30px;
  }
  &:last-child {
    margin-bottom: 5px;
  }
}
.form__part-text {
  @include mobile-inputs;
  width: 260px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 2px solid black;
  padding: 15px 0 16px 0;
  @include mobile-placeholder;
  &:focus {
    outline: none;
  }
}

.form__part-wrapper--tel {
  margin-bottom: 7px;
}
.form__part-title--tel {
  // margin-bottom: 5px;
}
.form__part-tel {
  @include mobile-inputs;
  border: none;
  border-bottom: 2px solid #000000;
  width: 100%;
  padding: 13px 0 16px 0;
  @include mobile-placeholder;
  &:focus {
    outline: none;
  }
}

.form__part-wrapper--email {
  margin-bottom: 7px;
}

.form__part-title--email {
  // margin-bottom: 5px;
}

.form__part-mail {
  @include mobile-inputs;
  border: none;
  border-bottom: 2px solid #000000;
  width: 100%;
  padding: 15px 0 15px 0;
  @include mobile-placeholder;
  &:focus {
    outline: none;
  }
}

.form__part-title--textarea {
  margin-bottom: 25px;
}

.form__part-textarea {
  @include mobile-inputs;
  border: none;
  border: 2px solid #000000;
  width: 100%;
  box-sizing: border-box;
  min-height: 142px;
  padding: 15px 15px 15px 15px;
  resize: none;
  margin-bottom: 0;
  @include mobile-placeholder;
  &:focus {
    outline: none;
  }
}

.form__comment {
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 31px;
}
.form__button {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .form {
    margin: 0;
  }
  .form__part {
    padding: 0;
    margin: 0;
    border: none;
  }

  .form__part-title {
    margin-top: 0;
    &::after {
      display: none;
    }
  }
  .form__part-wrapper {
    margin: 0 auto;
    width: 668px;
    padding: 60px 50px 60px 50px;
  }
  .form__part-wrapper--radios {
    display: flex;
    padding-top: 55px;
    padding-bottom: 70px;
  }

  .form-part--radios {
    margin-left: 208px;
  }

  .form__part-radio:checked + .form__part-radio-label:before {
    content: "";
    position: absolute;
    left: -48px;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $beaty-color;
  }

  .form__part-radio-label {
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 57px;
    margin-top: 0;
    margin-left: 0;
    &:last-child {
      margin-bottom: 0;
    }
    &::after {
      width: 52px;
      height: 52px;
      left: -80px;
      top: -15px;
    }
  }
  .form__part-radio:checked + .form__part-radio-label:before {
    left: -65px;
    top: 0px;
    width: 22px;
    height: 22px;
  }

  .form__part-title--checkboxes {
    margin-right: 0px;
  }
  .form__part-checkbox-label {
    font-size: 19px;
    line-height: 18px;
    width: 139px;
    margin: 0;
    margin-bottom: 58px;
    &:nth-child(10), &:nth-child(12) {
      margin-bottom: 0;
    }
    &::after {
      width: 54px;
      height: 54px;
      border: 2px solid #000000;
      left: -80px;
      top: -15px;
    }
  }

  .form__part-checkbox:checked + .form__part-checkbox-label:before {
    top: -7px;
    left: -60px;
    width: 14px;
    height: 28px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  .form__part--bg {
    background-color: #f1f1f1;
  }
  .form__part-wrapper--checkboxes {
    display: flex;
    padding-bottom: 69px;
    padding-top: 65px;
  }
  .form-part--checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 200px;
    width: 400px;
  }
  .form__part-wrapper--text-inputs {
    display: flex;
    padding-top: 61px;
    padding-bottom: 49px;
  }
  .form-part__text-inputs {
    margin-left: 123px;
    flex-grow: 1;
  }
  .form__part-text-label {
    font-size: 19px;
    line-height: 18px;
    margin: 0;
    // padding: 5px;
    margin-bottom: 34px;
    display: flex;
    align-items: baseline;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form__part-text {
    @include tablet-inputs;
    margin-left: 23px;
    margin-top: 0;
    padding: 0 0 15px 15px;
    flex-grow: 1;
    @include tablet-placeholder;
  }
  .form__part--text .form__part-title {
    margin-top: 8px;
  }
  .form__part-title--tel {
    margin-top: 10px;
  }

  .form__part-wrapper--tel {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 0px;
  }
  .form__part-tel {
    @include tablet-inputs;
    width: 500px;
    margin: 0;
    padding: 5px 15px 15px 15px;
    box-sizing: border-box;
    background-color: inherit;
    @include tablet-placeholder;
  }
  .form__part-title--email {
    margin-top: 10px;
  }
  .form__part-wrapper--email {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 48px;
  }

  .form__part-mail {
    @include tablet-inputs;
    width: 500px;
    margin: 0;
    padding: 5px 15px 15px 15px;
    box-sizing: border-box;
    background-color: inherit;
    @include tablet-placeholder;
  }
  .form__part-wrapper--textarea {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 53px;
  }
  .form__part-title--textarea {
    margin-top: 16px;
  }
  .form__part-textarea {
    @include tablet-inputs;
    width: 500px;
    margin: 0;
    box-sizing: border-box;
    background-color: inherit;
    @include tablet-placeholder;
  }

  .form__submit--wrapper {
    margin: 0 auto;
    width: 668px;
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
  }
  .form__comment {
    order: 1;
    font-size: 17px;
    line-height: 30px;
  }
  .form__button {
    width: 230px;
    border: 2px solid #000000;
  }
}


@media (min-width: $desktop-width) {
  .form__part-wrapper {
    margin: 0 auto;
    width: 989px;
    padding: 0 50px 0 111px;
  }
  .form__part-wrapper--radios {
    padding-top: 65px;
    padding-bottom: 69px;
  }

  .form-part--radios {
    margin: 0;
    margin-left: 152px;
  }

  .form__part-wrapper--checkboxes {
    padding-top: 65px;
    padding-bottom: 7px;
  }

  .form-part--checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    margin-left: 150px;
    width: 100%;
  }

  .form__part-title--checkboxes {
    align-self: flex-start;
  }
  .form__part-checkbox-label {
    width: 260px;
    margin-bottom: 60px;
  }

  .form__part-wrapper--text-inputs {
    padding-top: 60px;
    padding-bottom: 48px;
  }

  .form-part__text-inputs {
    margin: 0;
    margin-left: 69px;
  }

  .form__part-text {
    flex-grow: 1;
  }
  .form__part-text-label {
    width: 700px;
  }
  .form__part-wrapper--tel {
    justify-content: flex-start;
    padding-top: 55px;
    padding-bottom: 0px;
  }
  .form__part-tel {
    margin-left: 80px;
    width: 700px;
  }
  .form__part-wrapper--email {
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 48px;
  }
  .form__part-mail {
    margin-left: 54px;
    width: 700px;
  }
  .form__part-wrapper--textarea {
    justify-content: flex-start;
    padding-top: 50;
    padding-bottom: 50;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .form__part-textarea {
    margin-left: 73px;
    width: 700px;
    min-height: 140px;
  }
  .form__submit--wrapper {
    margin: 0 auto;
    width: 700px;
    padding: 0;
  }
}




