.main-block {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.main-block__wrapper {
}

.main-block__caption {
  font-size: 25px;
  color: #000000;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}
