.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
}

.main-nav__toggle {
  position: absolute;
  top: -47px;
  right: 30px;
  display: block;
  background: url(../img/icon-menu-open.svg) no-repeat white 50% 15%;
  border: none;
  height: 22px;
  width: 20px;
  cursor: pointer;
  &:active, &:focus {
    outline: none;
  }
}

.main-nav__toggle--open {
  background: url(../img/icon-menu-close.svg) no-repeat white 50% 15%;
}

.main-nav__list--site-nav {
  @include lists-styles;
}

.main-nav__list--service-nav {
  @include lists-styles;
}

.main-nav__dropdown-show {
  display: block;
  height: auto;
}

@media (max-width: 767px) {
  .main-nav__dropdown {
    // display: none;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    transform: translateY(-450px);
    transition: transform 2s;
  }
  .main-nav--nojs .main-nav__dropdown {
    display: block;
  }
}

.main-nav__dropdown-show {
  display: block;
  height: auto;
  transform: translateY(1px);
  transition: transform 1s linear;

}


@media (min-width: $tablet-width) {
  .main-nav {
    flex-grow: 1;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__dropdown {
    display: flex;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
  }
  .main-nav__list--site-nav {
    width: 309px;
    padding-top: 105px;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    margin-left: -86px;
    margin-right: 0;
  }

  .main-nav__list--service-nav {
    display: flex;
    // margin: auto;
    margin-right: 0;
    width: 349px;
    justify-content: space-between;
  }
  .main-nav__list--service-nav li {
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
  }
  .main-nav__dropdown {
    flex-direction: row;
    // align-items: flex-end
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .main-nav__list--site-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 350px;
    margin-left: 0;
    padding-top: 0;
    margin-top: 80px;
  }

  .main-nav__list--service-nav {
    margin: 0;
  }
}
