.make-order {
  margin-top: 22px;
  margin-bottom: 55px;
}

.make-order__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .make-order {
    margin-top: 60px;
    margin-bottom: 31px;
  }

  .make-order__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .make-order__wrapper {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .make-order__content-wrapper {
    margin: 0 auto;
    width: 668px;
    padding: 0 50px 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .make-order {
    margin-top: 110px;
  }

  .make-order__description {
    margin-bottom: 10px;
  }

  .make-order__content-wrapper {
    margin: 0 auto;
    width: 700px;
    padding: 0;
  }
}
