.make-order {
  margin-top: 30px;
  margin-bottom: 55px;
}

.make-order__description {
  font-size: 13px;
  line-height: 24px;
}

.make-order__form {
  margin-top: 30px;
}

.make-order__comment {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .make-order__comment {
    order: 1;
  }
  .make-order__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .make-order-content__wrapper {
    margin: 0 auto;
    width: 668px;
    padding: 0 50px 0 50px;
  }
  .make-order__wrapper {
    margin: 0;
    padding: 0;
    width: auto;
  }
  .make-order-content__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .make-order-content__wrapper {
    margin: 0 auto;
    width: 700px;
    padding: 0;
  }
}
