.modal-dialog {
  display: none;
  position: fixed;
  z-index: 110;
  top: 30%;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px rgba(0 , 1, 1, 0.25);
}
.modal-content {
  width: 260px;
  margin: 0 auto;
}

.modal-dialog__caption {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 35px 0 20px 0;
}
.modal-dialog__size-choice {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  display: block;
  text-align: center;
  margin: 0;
}
.modal-dialog__add-btn {
  margin-bottom: 45px;
  background-color: $beaty-color;
  border: none;
  color: #ffffff;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.modal-dialog--open {
  display: block;
}

@media (min-width: $tablet-width) {
  .modal-dialog {
    width: 570px;
    left: 50%;
    transform: translateX(-50%)
  }
  .modal-content {
    width: 360px;
  }
  .modal-dialog__caption {
    font-size: 30px;
    line-height: 57px;
  }
  .modal-dialog__size-choice {
    font-size: 17px;
    line-height: 30px;
  }
  .modal-dialog__add-btn {
    width: 360px;
  }
}
