.page-header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}
.page-header__content {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
}
.page-header__logo {
  text-align: center;
  width: 86px;
  margin: auto;
}
.page-header__logo-image {
  display: block;
  margin: auto;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
@media (min-width: $tablet-width) {
  .page-header {
    height: 90px;
  }
  .page-header__logo {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  .page-header__logo-image {
    width: 114px;
    height: 50px;
    margin: auto;
  }

  .page-header__content {
    width: 668px;
    flex-direction: row;
  }
}
@media (min-width: $desktop-width) {
  .page-header__content {
    width: 1050px;
    padding: 0 50px 0 50px;
    justify-content: flex-end;
  }
  .page-header__logo {
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -77px;
    padding-top: 8px;
    display: block;
  }
  .page-header__logo-image {
    width: 154px;
    height: 75px;
  }
}
