.page-header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.page-header__content {
  height: 100%;
  display: flex;
  position: relative;
}

.page-header__logo {
  margin: auto 87px;
}

@media (min-width: $tablet-width) {
  .page-header {
    height: 90px;
  }
  .page-header__logo {
    // margin: auto 0;
    position: absolute;
    z-index: 10;
    padding-top: 25px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    left: 50%;
    transform: translateX(-50%);
  }
}
