.products-navigator {
  background-color: #f9f9f9;
  padding: 0;
}

.products-navigator__button {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  padding: 27px 0;
  color: #ffffff;
  text-decoration: none;
  display: block;
  overflow: hidden;

  &:first-child {
    background-color: $beaty-color;
  }

  &:nth-child(2) {
    background-color: #56c3b2;
  }
}

.products-navigator__button-int-icon {
  position: absolute;
  right: 35px;
  top: -5px;
  fill: #3bb09d;
}

.products-navigator__button-toy-icon {
  position: absolute;
  fill: #35a999;
  right: 25px;
  top: -5px;
}

.products-navigator__button-title {
  width: 260px;
  padding: 0 30px 0 30px;
  margin: 0 auto;
  display: block;
  position: relative;
}

@media (min-width: $tablet-width) {
  .products-navigator__wrapper {
    display: flex;
    width: 668px;
    padding: 0 50px 0 50px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .products-navigator__button {
    width: 264px;
    padding: 26px 35px 45px 35px;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      transform: translateY(-5px);
      transition: 0.2s;
    }

    &:active .products-navigator__button-title {
      opacity: 0.3;
    }
  }

  .products-navigator__button-title {
    width: auto;
    padding: 0;
    margin: 0;
    display: block;
  }

  .products-navigator__button-int-icon {
    right: 0;
    top: 2px;
  }

  .products-navigator__button-toy-icon {
    right: 0;
    top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .products-navigator__wrapper {
    width: 1050px;
    padding: 0 50px 0 50px;
  }

  .products-navigator__button {
    width: 455px;
    padding: 27px 35px 45px 35px;
  }
}
