.products-navigator {
  background-color: #f9f9f9;
  padding: 0;
}


.products-navigator__button {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  padding: 25px 0;
  color: #ffffff;
  text-decoration: none;
  display: block;
  &:first-child {
    background-color: $beaty-color;
  }
  &:nth-child(2) {
    background-color: #56c3b2;
  }
}

.products-navigator__button-title {
  width: 260px;
  padding: 0 30px 0 30px;
  margin: 0 auto;
  display: block;
}

@media (min-width: $tablet-width) {
  .products-navigator__wrapper {
    display: flex;
    width: 668px;
    padding: 0 50px 0 50px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .products-navigator__button {
    width: 264px;
    padding: 35px 35px;
    font-size: 20px;
    line-height: 30px;
  }
  .products-navigator__button-title {
    width: auto;
    padding: 0;
    margin: 0;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .products-navigator__wrapper {
    width: 1050px;
    padding: 0 50px 0 50px;
  }
  .products-navigator__button {
    width: 455px;
    padding: 35px 35px;
  }
}
