.reviews {
  margin-bottom: 35px;
  padding: 0;
}

.reviews__item {
  margin: 35px 0 0 0;
}

.reviews__content {
  margin: 0 0 35px 0;
  line-height: 30px;
}

.reviews__author-name {
  font-weight: bold;
  color: #000000;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.reviews__author-instatag {
  font-size: 17px;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .reviews__make-review {
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .reviews__caption {
    margin-left: 175px;
  }
}
