.reviews {
  margin-bottom: 35px;
}

.reviews__item {
  margin: 35px 0 0 0;
}

.reviews__content {
  margin: 0 0 35px 0;
  line-height: 30px;
}

.reviews__author-name {
  font-weight: bold;
  color: #000000;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.reviews__author-instatag {
  font-size: 17px;
  line-height: 30px;
}
