.site-list .site-list__item-link {
  display: block;
  padding: 28px 0 28px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #ececec;
}

.site-list:first-child .site-list__item {
  &:nth-child(3), &:nth-child(4) {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list:first-child .site-list__item-link:first-child {
      font-size: 15px;
}
  .site-list__item--search {
    width: 83px;
    display: flex;
    border-left: 1px solid #ececec;

  }
  .site-list__item--basket {
    flex-grow: 1;
    text-align: right;
    display: flex;
    border-left: 1px solid #ececec;
  }
  .site-list .site-list__item--search-icon {
    font-size: 0;
    outline: 1px solid blue;
    width: 30px;
    height: 30px;
    margin: auto;
  }

  .site-list .site-list__item--basket-icon{
    margin: auto;
    margin-right: 0;
    width: 85%;
    height: 30px;
  }
  .site-list .site-list__item-link {
    border: none;
    padding: 0;
  }
}
@media (min-width: $desktop-width) {
  .site-list:first-child .site-list__item {
    width: 140px;
    &:nth-child(3), &:nth-child(4) {
      display: block;
    }
  }
  .site-list:first-child .site-list__item-link {
    display: block;
    padding: 30px 0 30px 0;
    text-decoration: none;
  }
}

