.social__list {
  list-style: none;
  width: 145px;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link-icon {
  &:hover {
    fill: $beaty-color;
  }

  &:active {
    fill: $beaty-color;
    fill-opacity: 0.6;
  }
}
