.wave-line {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 8px;
    background-image: url(../img/bg-zigzag-line.svg);
    background-position: center;
    background-size: auto 8px;
    }
  }

@media(min-width: $tablet-width) {
  .wave-line {
  &::after {
    height: 18px;
    background-size: auto 18px;
    bottom: -20px;
    background-position: 50% 50%;
  }
}
  .wave-line--fill {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 25px;
      background-size: auto 25px;
      background-image: url(../img/bg-zigzag-fill.svg);
      background-position: 10% 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .wave-line {
    &::after {
      display: none;
    }
  }
  .wave-line--fill {
    &::after {
      bottom: -7px;
      width: 100%;
      height: 35px;
      background-size: auto 35px;
    }
  }
  .wave-line__desktop {
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -100px;
      width: 1050px;
      height: 25px;
      background-image: url(../img/bg-zigzag-line.svg);
      background-position: center;
      background-size: auto 25px;
    }
  }
  .wave-line__desktop--slider {
    &::after {
      bottom: -15px;
    }
  }
}
